/* NAVBAR */
.navbar{
    width: 8%;
    height: 100vh;
    position: fixed;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: ghostwhite;
    gap: 50px;
}

.brand, .menu{
    transform: rotate(90deg);
    
}

.brand{
    gap: 15px;
    user-select: none;
    font-size: 2rem;
    font-weight: 200;
    text-transform: uppercase;
}

.menu{
    display: flex;
    list-style-type: none;
    text-transform: uppercase;
    user-select: none;
    gap: 15px;
}

.menu .menuItem a{
    font-size: 1rem;
    font-weight: 200;
}
/* END NAVBAR */

.loginForm{
    width: 450px;
    height: auto;
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding: 20px;
    background-color: azure;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    gap: 16px;
}

.formGroup{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.formGroup label{
    font-size: 1.5rem;
}

.formGroup input{
    height: 40px;
    padding: 0 8px;
    font-size: 2rem;
    font-weight: 200;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    background-color: azure;
}

.loginButton{
    height: 40px;
    outline: none;
    border: none;
    border-radius: 15px;
    background-color: black;
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
}

.formGroup .helper{
    font-size: 0.8rem;
    display: none;
}

.background{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
}
